.tabela-usuarios{
    background-color: var(--tela-cadastro);
    border-radius: 12px;
    /* margin-top: 5px;
    margin-left: 10px; */
    display: none;
    position: absolute;
    top: 100%;
    width: 165px;
    padding: 1em 1em;
}

#tabela-de-usuarios{
    margin: 10px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}